
/* body{
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}

img{
    max-width: 100%;
}

.toggle-menu{
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    cursor: pointer;
   width: 40px;
    z-index: 1;

}

@media screen and (min-width:768px) {
    .toggle-menu{
        display: none;
    }
}



.main-menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(7, 82, 7);
    transition: transform 0.3s;
    transform: translateY(-100%);

}

.main-menu--show{
    transform: translateY(0);
}

@media screen and (min-width:768px) {
    .main-menu{
    flex-direction:row;
    transform: translateY(0);
    
}
}

.main-menu_item{
    padding: 1em;

}

.main-menu_link{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.imagen{
    height: auto;
    width: 100%;
}

.imagen-gerni img{
    height: auto;
    width: 100%;    
}

.temporada{
    height: auto;
    width: 100%;
    display: flex;
   
    justify-content: center;
    margin-bottom:100rem ;
    
}
h2{
text-align: center;
margin: 2rem 0rem 4rem 0rem;
}

.temporada iframe{
    height: 40rem;
    width: 100%;
}

.btn-temporada{

    margin-top: 3rem;
    border-radius: 10px;
    padding:1.5em 2em;
}

.btn-temporada a{
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
    color: rgb(73, 73, 73);
} */





body{

    margin: 0%;
    background-color: white;
    padding: 0 20px 20px 20px;
   ;
}


.imagen-medio > img{

    border: 1px solid  black;
    width: 100%;
    height: auto;
}

.portada > img{

    border: 1px solid black;
    width: 100%;
    height: auto;
}

/* img{
height: auto;
display: block;

} */



.video-gernika > iframe {


width: 100%;
height: 50rem;
}






.formulario {
 
    align-items: center;
}


.sponsors{

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:center;
    margin-top: 5rem;
}

/* footer con copyright y logos */
footer{
    background-color: #015201;
    display: flex;
    justify-content: space-evenly;

}
footer > p{
    margin-top: 0.5rem;
}

 /* redes sociales e iconos */
 .ubicacion_y_logos{
    height: max-content;
    display: grid;
    grid-template-columns: 90% 10%;
}

    /* la direccion escrita del lugar */
    .ubicaciontexto{
        margin-left: 1.5rem;
    }

    .ubicaciontexto > p{
        margin-top: 1.5rem;
    }
    .ubicaciontexto > h4{
        margin-top: 1rem;
    }
    .ubicaciontexto > h5{
        margin-top: 1.5rem;
    }

    /* logos de la derecha en grid */
    .logos{
        display: grid;
        

    }

        /* cada red social especifica dentro de logos*/
        .gmail{
            
        }

/* footer con copyright y logos */
footer{
background-color: #015201;
display: flex;
/* justify-content: space-evenly; */

}
footer > p{
/* margin-top: 0.5rem; */
}




 