body{
    margin: 0;
    font-family: sans-serif;
}

img{
    max-width: 100%;
}

.toggle-menu{
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    cursor: pointer;
   width: 40px;
    z-index: 1;

}

@media screen and (min-width:768px) {
    .toggle-menu{
        display: none;
    }
}



.main-menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(7, 82, 7);
    transition: transform 0.3s;
    transform: translateY(-100%);

}

.main-menu--show{
    transform: translateY(0);
}

@media screen and (min-width:768px) {
    .main-menu{
    flex-direction:row;
    transform: translateY(0);
    
}
}

.main-menu_item{
    padding: 1em;

}

.main-menu_link{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.imagen{
    height: auto;
    width: 100%;
}

.imagen-gerni img{
    height: auto;
    width: 100%;    
}

.temporada{
    height: auto;
    width: 100%;
    display: flex;
   
    justify-content: center;
    margin-bottom:100rem ;
    
}
h2{
text-align: center;
margin: 2rem 0rem 4rem 0rem;
}

.temporada iframe{
    height: 40rem;
    width: 100%;
}

.btn-temporada{

    margin-top: 3rem;
    border-radius: 10px;
    padding:1.5em 2em;
}

.btn-temporada a{
    text-decoration: none;
    color: rgb(73, 73, 73);
}


