
main{
    margin: 1rem;
    border: solid black;
    display: grid;
    grid-template-columns:1fr 1fr;
}

/* Parte entera de la izquierda. contenido especifico de formularios inicio y registro */
.formulario{
    margin: 1rem;
    border: solid black;
    /* display: flex; */
}

/* parte de ubicacion y informacion sobre el lugar y redes para contacto */
.ubicacion{
    margin: 1rem;
    display:grid;
    right: 0;
    margin-right: 3rem;
    /* border: solid black; */
    /* display: flex; */
}

/* tamaño del mapa google */
.sticky > iframe{
width: 48rem;
height: 30rem;
}

/* zona derecha sticky */
.sticky{
    border: solid black;
    height: min-content;
    position: sticky;
    /* position: -webkit-sticky; */
    top: 0;
}

/* opciones de registrado o no */
.preguntainicio{
    border: solid black;
    padding: 16rem;
    text-align: center;
}

/* formulario usuario y contraseña */
.iniciarsesion > form{
display: grid;
}
.iniciarsesion{
    padding-top: 12rem;
}