/* footer con copyright y logos */
footer{
    background-color: #015201;
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.5rem;
}

footer > p{
    margin-top: 0.5rem;
}
.iconosfooter > a{
    margin-right: 4rem;
}