@media only screen and (max-width:980px){
body{
    width: 100%;
   
}

.container{
    justify-content: center;
}
.barra-navegacion{
  margin: auto;
}


.imagen img{
   width: 95%;
}

.temporada{
    display: flex;
    flex-wrap: wrap;
    width: 100%
    
}
.clasificatoria{
    width: 100%;
}

.calendario{
    width: 100%;
}

.temporada iframe{
    height: 60rem;
   width: 90%;
}

.btn-temporada{
margin: 5rem 0rem 4rem 0rem;
}

.btn-temporada a{
  
}

}
@media only screen and (max-width:720px){


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.barra-navegacion{
   display: flex;
    flex-direction: column;
    

}
.logo img {

    border-radius: 50%;
    width: 80px;
    height: auto;

}





}


}
@media only screen and (max-width:720px){


.micontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.barra-navegacion{
   display: flex;
    flex-direction: column;
    margin-right: auto; 
    

}
.logo img {

    border-radius: 50%;
    width: 80px;
    max-height: 1rem;
    max-width: 1rem;
    min-height: 1rem;
    min-width: 1rem;

}

 @media only screen and (max-width:150px){
    .objetivos {
        display: flex;
        border:  1px solid black;
        flex-direction: column;
        padding: 15rem 15rem 15rem 15rem;
        
        
    } 
    .objetivos img{
        min-block-size: 50%;
    }
    .objetivos p{
        max-height: auto;
        margin-top: 10%;
    }


 }



/* *{
    border: 1rem;
    color: solid 6px black;
} */
*{
    
}
p{
    
    font-family: <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet"> ;
   
}
.micontainer {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    flex-direction: column;
    margin: 10rem 10rem 10rem 10rem;
}
.micontainer img {
    justify-content: right;
    max-width: 50%;
    align-items: right;
    /* margin-right: 10rem; */
    margin-bottom: 1rem;
    /* flex-shrink: inherit; */
}
.miheader {
    margin-bottom: 5rem;
}
/* .texto {
    align-items: left;
    max-width: 40%;
    /* padding-right: 2rem;
}*/
.imagen {
    justify-content: right;
    padding-left: 5rem;
 
} */
 
.objetivos {
    display: flex;
    /* border:  1px solid black; */
    flex-direction: column;
    padding: 5rem 5rem 5rem 5rem;
    margin-top: 5rem ;
 
   
}
 
.objetivos1{
display: flex;
flex-direction: row-reverse;
align-items: center;
}
 
.objetivos2{


    /* *{
        border: 1rem;
        color: solid 6px black;
    } */
    *{
        
display: flex;
flex-direction: row-reverse;
align-items: center;
}
 
.objetivos3{
    display: flex;
flex-direction: row-reverse;
align-items: center;
 
}
.objetivos4{
    display: flex;
flex-direction: row-reverse;
align-items: center;
/* max-height: min-content; */
 
}
.objetivos img {
    max-width: 50%;
    /* max-height: 20rem; */
}
.objetivos p{
    max-width: 50%;
    justify-self: left;
    padding-right: 5rem;
    /* justify-content: left; */
}
.nacimiento h3{
    margin: 2rem 0rem 2rem 0rem;
}
h3{
    margin-top: 5rem;
    justify-self: left;
}
footer{
    background-color: #015201;
    display: flex;
    justify-content: space-evenly;
}

footer > p{
    margin-top: 0.5rem;
}
.iconosfooter > a{
    margin-right: 4rem;
}
/* p {
    margin-top: 3rem 0rem 20rem 0rem;
} */
