@media only screen and (max-width:980px){
    body{
        width: 100%;
       
    }
    
    .micontainer{
        justify-content: center;
    }
    /* .barra-navegacion{
      margin: auto;
    } */
    
    
    .imagen img{
       width: 95%;
    }
    
    /* .temporada{
        display: flex;
        flex-wrap: wrap;
        width: 100%
        
    } */
    /* .clasificatoria{
        width: 100%;
    }
    
    .calendario{
        width: 100%;
    } */
    
    /* .temporada iframe{
        height: 60rem;
       width: 90%;
    }
    
    .btn-temporada{
    margin: 5rem 0rem 4rem 0rem;
    }
    
    .btn-temporada a{
      
    } */
    
    }
    @media only screen and (max-width:720px){
    
    
    .micontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* .barra-navegacion{
       display: flex;
        flex-direction: column; */
        
    
    }
    /* .logo img {
    
        border-radius: 50%;
        width: 80px;
        height: auto;
    
    }
     */
    
    
    
    
    }