*{
    margin: 0;
    padding: 0; 
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.main-nav{
    position:fixed;
    z-index: 100;
    width: 100%;
    top: -0.5rem;
}

.toggle-menu{
    position: absolute;  
    top: 0.5rem;
    right: 1.5rem;
    cursor: pointer;
   width: 40px;
    z-index: 1;

}


@media screen and (min-width:768px) {
    .toggle-menu{
        display: none;
    }
}

@media screen and (max-width:765px) {
    .toggle-menu img{
    filter: invert(1) ;
 }
   
 .main-nav{
    position:fixed;
    z-index: 100;
    width: 100%;
    top: -0.5rem;
}
}


.main-menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(7, 82, 7);
    transition: transform 0.3s;
    transform: translateY(-100%);

}

.main-menu--show{
    transform: translateY(0);
}

@media screen and (min-width:768px) {
    .main-menu{
    flex-direction:row;
    transform: translateY(0);
    
}
}

.main-menu_item{
    padding: 1em;

}

.main-menu_link{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.imagen{
    height: auto;
    width: 100%;
}

.imagen-gerni img{
    height: auto;
    width: 100%;    
}

.temporada{
    height: auto;
    width: 100%;
    display: flex;
   
    justify-content: center;
    margin-bottom:10rem ;
    
}
h2{
text-align: center;
margin: 2rem 0rem 4rem 0rem;
}

.temporada iframe{
    height: 40rem;
    width: 100%;
}



.btn-temporada{

    margin-top: 3rem;
    border-radius: 10px;
    padding:1.5em 2em;
    margin-left: 40%;
}

.btn-temporada a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;

}


footer{
    background-color: #015201;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
}

.container{
    height: auto;
    width: 100%;
}

.patrocinios{
    justify-content: center;
}
.patrocinios img{
    height: auto;
    width: 100%;
}

.porque-patrocinar{
   margin: auto;
    width: 90%;
}

.porque-patrocinar h2{
    font-size: auto;
}
.lista{
    font-size: 1.4rem;
    margin-left: 4rem;
}
.parrafo{
    font-size: 1.5rem;
   margin: 2rem 0rem 2rem 0rem;
}

.media{
    text-align: center;
    height: auto;
    width: 100%;
}
.media iframe{
    height: 25rem;
    width: 50%;
    margin-bottom: 3rem;
}

.media img{
    width: 70%;
    margin-bottom: 3rem;
}

 .parrafo3{
    margin: auto;
    margin-bottom: 1rem;
    width: 80%;
}
.lista2{
    
    margin: auto;
    margin-bottom: 3rem;
    width: 50%;
    font-size: 1.4rem;
    text-align: start;
    
}
.contacto{
    height: auto;
    width: 100%;
    text-align: center;
}

.contacto h4{
    font-size: 1.5rem;
    margin: 3rem 0rem 3rem 0rem ;
}

.contacto input{
    height: 2rem;
    width: 20rem;
}

@media screen and (max-width:1688px) {
    .contacto  input{
       margin: auto;
       margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
    }
}

.patrocinadores{
    height: auto;
    width: 100%;
}

.sponsors{
   flex-wrap: wrap;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.sponsors img{
    height: 10%;
    width: 20%;
}


footer > p{
    margin-top: 0.5rem;
}
.iconosfooter > a{
    margin-right: 4rem;
}

